server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: smartfield-logs

    static_configs:
      - targets:
          - localhost

        labels:
          job: smartfield
          __path__: /var/log/app/*.txt

    pipeline_stages:
      - regex:
          expression: '^(?P<timestamp>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2},\d{3}) - (?P<service>\w+) - (?P<level>\w+) - (?P<message>.*)'

      - labels:
          service:
          level:

      - timestamp:
          source: timestamp
          format: "2006-01-02 15:04:05,000"
